
{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} 


{% block title%}Activity Logs{% endblock %}

{% block content %}
<h1>Activity Logs</h1>

<hr>

<div class="p-3 mb-5 bg-body rounded shadow-sm">

    <table class="table table-hover">

        <thead>
            <tr>
                <th>User</th>
                <th>Login Time</th>
                <th>IP Address</th>
                <th>Function Used</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.user.email }}</td>
                <td>{{ log.login_time }}</td>
                <td>{{ log.ip_address }}</td>
                <td>{{ log.function_used }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>


{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.table').DataTable({
            responsive: true,
            paging: true, info: false, searching: true,
            "order": [[1, "desc"]]
            
        });
    })
</script>
{% endblock %}