{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} 
{% block content %}

<form method="POST" class="bg-light py-4 px-3 rounded">
  <h2>DN42 Login</h2>
  <hr>
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="{{ form.asn.id }}">{{ form.asn.label.text }}</label>
      <div class="input-group">
        <span class="input-group-text">DN42 ASN: </span>
        {{ form.asn(class_="form-control", value="AS424242", autocomplete="off") }}
      </div>



    <br />
    <div class="col-sm-12 text-center">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </div>
</form>

{% endblock %}
