{% extends "base.html" %} {% block title %} BGP {%endblock%} {% block content %}

<div class="p-3 mb-5 bg-body rounded">

    <table id="bgp" class="table table-hover">

        <h3>
            {% if router and router|length %} {{ router }}: show ip bgp summary</h3>
        {% endif %}
        <br>

        <thead class="thead-dark">
            <tr>
                <th scope="col">Peer Name</th>
                <th scope="col">ASN</th>
                <th scope="col">Peer IP</th>
                <th scope="col">Up/Down</th>
                <th scope="col">State/PfxRcd</th>
                <th scope="col">PfxSnt</th>
            </tr>
        </thead>
        <tbody>

            <div id="results">
                {% for n in result %}
                <tr>
                    <td> <a href="{{ url_for ('get_bgp_peer', router=router, peer=n[3], desc=n[10])  }}"> {{n[10]}} </td>
                <td> {{n[4]}} </td>
                <td> {{n[3]}} </td>
                <td> {{n[7]}}</td>
                <td> <a href="{{ url_for ('get_bgp_peer_routes', router=router, peer=n[3]) }}" >  {{n[8]}}  </a></td>
                    <td> {{n[9]}} </td>
                </tr>
                {% endfor %}
            </div>


        </tbody>
    </table>


    <br/>
    <a href="{{ request.path }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Refresh</a>
    <p>Last refreshed on: {{time}}</p>
</div>

{% endblock%} {% block scripts %}
<script>
    $(document).ready(function() {
        $('#bgp').DataTable({

            "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                console.log("nr", nRow)

                const colour = aData[5] >= "1" ? '#c3e6cb' : '#f5c6cb';
                $(nRow).css('background-color', colour)


            }
        });
    })
</script>
{% endblock %}