{% extends "base.html" %} {% block title %} BGP {%endblock%} {% block content %} 

<div class="p-3 mb-5 bg-body rounded">

    <table  class="bgp table table-hover">

        {% if router and router|length %} 
        <h2>
            {{ router }}: show ip bgp summary
        </h2>
        <br>
        {% endif %}
        
        <thead class="thead-dark">
            <tr>
                <th scope="col">Peer Name</th>
                <th scope="col">Peer ASN</th>
                <th scope="col">Peer IP</th>
                <th scope="col">State</th>
                <th scope="col">Type</th>
                <th scope="col">Up/Down</th>
                <th scope="col">State/PfxRcd</th>
                <th scope="col">PfxSnt</th>
            </tr>
        </thead>
        <tbody>

            <div id="results">
                {% for peer in result %}
                <tr>
                    <td> <a href="{{ url_for ('get_bgp_peer', router=router, peer=peer['neighbor'], desc=peer['desc'])  }}"  > {{peer["desc"]}} </td>
                    <td> {{peer["remote_as"]}} </td>
                    <td> {{peer["neighbor"]}} </td>
                    <td> {{peer["state"]}} </td>
                    <td> {{peer["id_type"]}} </td>
                    <td> {{peer["peer_uptime"]}}</td>
                    <td> <a href="{{ url_for ('get_bgp_peer_received_routes', router=router, peer=peer['neighbor'], desc=peer['desc']) }}" >  {{peer["pfx_rcd"]}}  </a></td>
                    <td> <a href="{{ url_for ('get_bgp_peer_advertised_routes', router=router, peer=peer['neighbor'], desc=peer['desc']) }}" >  {{peer["pfx_snt"]}}  </a></td>
                </tr>
                {% endfor %}
            </div>
        </tbody>
    </table>
</div>

{% endblock%} 

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.bgp').DataTable({
            responsive: true,
            paging: false, info: false, searching: false,
            
            "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                console.log("nr", nRow)
                console.log(aData)

                const colour = aData[3] != "Established" ? '#f5c6cb' : '#c3e6cb';

                $(nRow).css('background-color', colour)


            }
        });
    })
</script>
{% endblock %}