{% extends "base.html" %}
{% block title %} Home {%endblock%}

{% block content %}

<h2> usman.dn42 - AS4242421869</h2>

<hr>

<ul>
  <li>Welcome to <a target="_blank" rel="noopener" href="https://blog.usman.network">Usman</a>'s part of the <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Dn42">DN42 network.</a>  <a href="https://explorer.burble.com/#/aut-num/AS4242421869">(AS4242421869) </a></li>
  <li>More info at <a target="_blank" rel="noopener" href="https://blog.usman.network"> blog.usman.network. </a> </li>
  <li>See the <a href="{{ url_for('looking_glass') }}"> Looking Glass. </a> </li>
</ul>
<hr>

<h2> Network Topology</h2>
<br>

<img src="{{ url_for('static', filename='DN42.png') }}" alt="DN42 Network Map" width="95%" height="95%" class="center">


<hr>
<h2>Router/Node Info</h2> 
<hr>

<h4>fr-lil1.usman.dn42</h4>
<pre>
Status            : Online
Location          : Lille, France
ISP               : Virtua.Cloud
Bandwidth         : 50Mbps, Unmetered
Endpoint          : fr-lil1.dn42.usman.network
WG Pub Key        : qwjXj/6R9ThUnqeOAYN+MxM6CbIgzjS8WFDdXuyEpHY=
WG Tunl IP        : 172.22.132.166
MP-BGP IP         : fe80::1869:f
Extended Next-hop : Enabled
</pre>
<h4> us-ca1.usman.dn42 </h4>

<pre>
Status            : Online
Location          : Fremont, California, USA
ISP               : Virtua.Cloud
Bandwidth         : 50Mbps, Unmetered
Endpoint          : us-ca1.dn42.usman.network
WG Pub Key        : g2AlaR1LFUdnwauQuwt6oFc6ep8Wy1I+aLSUCIHghhQ=
WG Tunl IP        : 172.22.132.162
MP-BGP IP         : fe80::1869:ca
Extended Next-hop : Enabled
</pre>

<h4>uk-lon3.usman.dn42</h4>
<pre>
Status      : Closed for Peering
Location    : London, UK
Bandwidth   : 70Mbps
WG Pub Key  : 9Cw2sSRMATDxQzG4+Je/O1pFqJ64xsvlnfmknHb2dhE=
WG Tunl IP  : 172.22.132.172
</pre>

<hr>

<h4>More Info</h4>

<p>I filter routes using RPKI/ROA.</p>

<ul>
    <li>RPKI invalids are filtered.</li>
    <li>RPKI unknowns are allowed.</li>
</ul>



{% endblock%}