{% extends "base.html" %}

{% block title %} Inventory {%endblock%}

{% block content %}

    <div class="shadow-lg p-3 mb-5 bg-body rounded">

      <table class="table table-striped table-hover table-bordered">
        <h1>Inventory</h1>
        <br>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nickname</th>
            <th scope="col">Hostname</th>
            <th scope="col">Device Type</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Use Keys</th>
            <th scope="col">Key File Location</th>
            <th scope="col">Secret</th>
            <th scope="col">Other</th>
          </tr>
        </thead>
        <tbody>

      {% for device in all_devices %}
            <th scope="row">{{ device.id }}</th>
            <td> {{ device.hostname }} </td>
            <td> {{ device.nickname }} </td>
            <td> {{device.device_type}}</td>
            <td> {{device.username}}</td>
            <td> {{device.password }}</td>
            <td> {{device.usekeys }}</td>
            <td> {{device.keyfile }}</td>
            <td> {{device.secret }}</td>
            <td> <a href="{{ url_for('update', id=device.id) }}"> EDIT</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
      <br/>
    </div>
{% endblock %}