{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Looking Glass {%endblock%}

{% block content %}

<h2> usman.dn42 - Looking Glass</h2>

<hr>

<ul>
  <li>Welcome to <a target="_blank" rel="noopener" href="https://explorer.burble.com/#/aut-num/AS4242421869">AS4242421869</a>'s Looking Glass, part of the <a target="_blank" rel="noopener" href="https://dn42.eu">DN42 network.</a> </li>
  <li>Developed by <a target="_blank" rel="noopener" href="https://blog.usman.network">Usman.</a> </li>
  <li>More info at <a target="_blank" rel="noopener" href="https://blog.usman.network"> blog.usman.network. </a> </li>
</ul>

<hr>

<form method="POST" action="{{ url_for('looking_glass') }}" class="bg-light py-4 px-3 rounded ">
  <div class="row">
    <div class="col-sm-6">

      <div class="form-group">
        <label class="font-weight-bold"> <b>{{ form.device.label }}</b></label>
        {% for subfield in form.device %}
          <div class="form-check">
            {{ subfield(class="form-check-input") }}
            <label class="form-check-label">{{ subfield.label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-6">

      <div class="form-group">
        <label class="font-weight-bold"> <b>{{ form.query.label }}</b></label>
        {% for subfield in form.query %}
          <div class="form-check">
            {{ subfield(class="form-check-input") }}
            <label class="form-check-label">{{ subfield.label }}</label>
          </div>
        {% endfor %}
      </div>

      <br>
      <div class="form-group">
        <label class="font-weight-bold"> <b>{{ form.target.label }}</b></label>
        {{ form.target(class="form-control", placeholder="1.1.1.1") }}
      </div>
    </div>

  </div>
  <br>
  <div class="form-group row">
    <div class="col-sm-12 text-center">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </div>

</form>

<hr>

<h4>Example Queries:</h4>
  <ul>
    <li><a target="_blank" rel="noopener" href="{{ url_for('get_summary_bgp', router=['fr_lil1', 'us_ca1']) }}"> BGP PEER SUMMARY </a> - all BGP sessions on all routers.</li>
    <li><a target="_blank" rel="noopener" href="{{ url_for('get_bgp_peers', router='fr_lil1') }}"> show ip bgp summary </a> - shows the peers on fr-lil1 router.</li>
    <li><a target="_blank" rel="noopener" href="{{ url_for('get_bgp_route', router='fr_lil1', prefix='172.20.0.53/32') }}"> show ip bgp 172.20.0.53/32 </a> - shows the BGP routes for the 172.23.0.53/32 subnet (on fr-lil1) </li>
    <li><a target="_blank" rel="noopener" href="{{ url_for('get_bgp_peer', router='fr_lil1', peer='fe80::ade0', desc='DN42_kioubit-MPBGP') }}"> show ip bgp neighbor fe80::ade0 </a> - shows detail of the fe80::ade0 peer (on fr-lil1).</li>
    <li><a target="_blank" rel="noopener" href="{{ url_for('get_bgp_peer_advertised_routes', peer='fe80::ade0' , router='fr_lil1', desc='kioubit-MPBGP') }}"> show ip bgp advertised-routes fe80::ade0 </a> - shows routes advertised to the fe80::ade0 peer (on fr-lil1).</li>
  </ul>

<hr>


<br>

<h2> Network Topology</h2>
<br>

<img src="{{ url_for('static', filename='DN42.png') }}" alt="DN42 Network Map" width="100%" height="100%">

<br>
<br>
<br>
<br>

{% if result %}
{{ result }}
{% endif %}


{% endblock %}