{% extends "base.html" %}

{% block title %} Net. Aut. Name Form {%endblock%}

{% block content %}


{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hi {{ name }}</strong> Thanks for registering your email {{ email }}.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}

{% if name %} 
    <p1>Hello {{ name }} | {{ email }} </p1>
{% else %}

    <br>

    <form method =  "POST">
        <!-- form.x = parsed data from form logic -->
        {{ form.hidden_tag() }}   

        {{ form.name.label (class="form-label") }}
        {{ form.name (class="form-control") }}

        {{ form.email.label (class="form-label") }}
        {{ form.email (class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}

    </form>

{% endif %}

{% endblock %}