{% extends "base.html" %}

{% block title %} Update User {%endblock%}

{% block content %}


{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> {{ device_to_update.hostname }} | {{ device_to_update.device_type}}</strong> just UPDATED.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

{% if hostname %} 
    <div class="shadow-lg p-3 mb-5 bg-body rounded">

      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Hostname</th>
            <th scope="col">Device Type</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Use Keys</th>
            <th scope="col">Key File Location</th>
            <th scope="col">Secret</th>
          </tr>
        </thead>
        <tbody>

      {% for device in all_devices %}
            <th scope="row">{{ device.id }}</th>
            <td> {{device.hostname }}</td>
            <td> {{device.device_type}}</td>
            <td> {{device.username}}</td>
            <td> {{device.password }}</td>
            <td> {{device.usekeys }}</td>
            <td> {{device.keyfile }}</td>
            <td> {{device.secret }}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
      <br/>
    </div>

{% else %}

    <br>
    <form action = "{{ url_for('update', id=device_to_update.id)}}" method =  "POST">
        <!-- form.x = parsed data from form logic -->
        {{ form.hidden_tag() }}   

      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h1>Update Device</h1>
        <div class="row g-3">
          <div class="col-md-6">
            {{ form.hostname.label (class="form-label") }}
            {{ form.hostname (class="form-control", value=device_to_update.hostname) }}
          </div>

          <div class="col-md-6">
          {{ form.device_type.label (class="form-label") }}
          {{ form.device_type (class="form-control", value=device_to_update.device_type ) }}
          </div>
        </div>

        <div class="row g-3">
          <div class="col-md-6">
          {{ form.username.label (class="form-label") }}
          {{ form.username (class="form-control", value=device_to_update.username) }}
          </div>
          <div class="col-md-6">
          {{ form.password.label (class="form-label") }}
          {{ form.password (class="form-control", value=device_to_update.password) }}
          </div>
        </div>

        <div class="row g-3">
          <div class="col-md-6">
          {{ form.use_keys (class="form-check-input") }}
          {{ form.use_keys.label (class="form-check-label", value=device_to_update.usekeys) }}
          </div>
          <div class="col-md-6">
          {{ form.key_file.label (class="form-label") }}
          {{ form.key_file (class="form-control", value=device_to_update.keyfile) }}
          </div>
        </div>
          {{ form.secret.label (class="form-label") }}
          {{ form.secret (class="form-control", value=device_to_update.secret) }}
          <br>
          {{ form.submit(class="btn btn-secondary") }}
      </div>
    </form>

    <br/>
    <br/>

{% endif %}

{% endblock %}